/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to the body and html elements */
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: rgb(214, 233, 0);
    display: flex;
    flex-direction: column;
}

/* Header styles */
header {
    background-color: #000000;
    color: rgb(255, 255, 0);
    text-align: center;
    padding: 10px 0;
    position: relative;
}
.adj{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 125px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}

header h1 {
    font-size: 46px;
    margin-left: 120px;
}

/* Navigation styles */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    margin-left: 120px;
}

nav li {
    font-size: 25px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff9900;
}

/* Main content layout */
.main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.circular-image {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin-right: 50px;
    border: 1px solid #ddd;
}

.intro-text {
    font-size: larger;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.highlight-text {
    color: rgb(159, 56, 56);
    padding: 5px 10px;
    border-radius: 5px;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007acc;
    color: #ffff;
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
    font-size: larger;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.small{
    font-size: 19px;
}
/* People Delivered style */
.people-delivered {
    font-size: larger;
}